*{  
    margin: 0;
    padding: 0;                          /*   * = réinitialise les paramètres du navigateur*/
    list-style: none;
    text-decoration: none;
}

body{
  margin: 1%;
}
header{
  width: 100%;                                              /* 100% de la largeur de la fenêtre */
  height: 100vh;                                            /* 100vh = 100% de la hauteur de la fenêtre */
  display: flex;                                            /* Flexbox pour aligner les éléments */
  background-image: url(../images/web-g6b740a347_1920.jpg); /* Image d'arrière-plan */
  background-size: cover;                                   /* Pour couvrir tout l'espace */
}

h3{
  text-align: center;
  font-family: 18px;
  color: blue;
}
section{
  margin-top: 5%;
}
#about_me{
  text-align: center;
  font-family: 18px;
}

.titre{
  display: flex;                                            /* Flexbox pour aligner les éléments */
  justify-content: center;
  align-items: center;
}

h1{
  color: #fff;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  margin: auto;
}

nav{
  width: 100%;
  background-color: transparent;
  position: fixed;                                          /* Pour que le menu reste en haut de la page */
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu li a {
  color: #fff;
  font-size: 2rem;
}
.menu li a:hover {
  color: darkorange;
}

.image{
  width: 100%;

}
.image img{
  margin: auto;
  width: 20%;
}

#diplomes{
  width: 100%;
  height: 100px;
  border: 2px solid red;
}

#experiences{
  display: flex;
  flex-wrap: wrap;
}
.section_title{
  width: 100%;
}
.emploi1, .emploi3{
  border-right: 1px solid blue;
}
.emploi1, .emploi2, .emploi3, .emploi4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  margin-top: 5%;
}
#skills{
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8fc;
  height: auto;
  Width: 100%;                          /* Largeur automatique pour s'adapter au contenu */
}
.langages{
  background-color: #5807daaf;
  display: flex;
  flex-wrap: wrap;                     /* Pour que les éléments s'adaptent à la largeur */
  width: 100%;                      
}
figure{
  background-color: #fff;
  border: solid 1px red;
  width: 300px;
  height: 200px;
  margin: 1% 2%;
}
figure img{
  width: 35%;
}
footer{
  background-color: rgb(23, 23, 252);
  display: flex;
  flex-direction: column;
  color: #fff;
}
.reseau, .copyright, .mentions-legales{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reseau a{
  font-size: 2.2rem;
  margin: 2%;
  color: #fff;                        /* Couleur des liens */
}

/* balise pour modifier les incons du footer */
/*.fa-brands, .fa-solid{ 
  color:white; /* Icons de la bibliothèque Font Awesome (Facebook)*/
/*}



/* Pour le reponsive */
@media screen and (max-width: 768px){  /* Media query pour les écrans de moins de 768px 
                                        ( en js, c'est là qu'intervient le menu hamberger )*/
  header{
    flex-direction: column; /* Colonne pour les petits écrans */
    align-items: center;    /* Centrer les éléments */
  }
  /*.image{
    width: 100%;           /* Image prend toute la largeur */
  /*}
  /*.image img{
    width: 100%;           /* Image prend toute la largeur */
  /*}*/
  .menu{
    flex-direction: column; /* Colonne pour les petits écrans */
    align-items: center;    /* Centrer les éléments */
  }
  #experiences{
    flex-direction: column;
  }
  .emploi{
    width: 100%;
  }
  .langages{
    flex-direction: column;

  }
  figure{
    width: 100%;
    align-items: center;
    background-color: yellow;
    
  }
  h6, p{
    text-align: center;
  }
}
